.container {
  width: 440px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgb(201, 201, 201);
}

.title {
  font-size: 22px;
  color: #383838;
}

.reviews {
  margin-top: 20px;
  padding: 20px 10px 0 10px;
  border-top: #c7c7c7 1px solid;
  height: 650px;
  overflow: scroll;
}

.reviews::-webkit-scrollbar {
  width: 5px;
  background-color: white;
}
.reviews::-webkit-scrollbar-thumb {
  background: #ffbf69;
  border-radius: 10px;
  opacity: 0.4;
}
.reviews::-webkit-scrollbar-track {
  background: none;
}
