.container {
  margin-top: 65px;
}
.title {
  font-size: 34px;
  color: #ff9f1c;
  font-weight: bold;
}

.content {
  width: 100%;
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.left {
  width: 50%;
}

.right {
  width: 42%;
}

.information_list {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 10px;
}

.information {
  margin: 10px 0;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #797979;
  line-height: 28px;
}

.information:nth-child(4) {
  align-items: flex-start;
  padding-top: 20px;
  border-top: #b1b1b1 solid 1px;
  width: 520px;
}

.information span {
  margin-left: 10px;
  margin-top: -3px;
}

.information svg:nth-child(3),
.information svg:nth-child(5) {
  margin-left: 10px;
}

.information:last-child span a {
  text-decoration: none;
  color: #797979;
  transition: color linear 0.2s;
}

.information:last-child span a:hover {
  color: #ff9f1c;
}

.exchange_btn,
.check_btn {
  cursor: pointer;
  color: #2ec4b6;
}

.information select {
  width: 160px;
  height: 26px;
  padding-left: 3px;
  margin-top: -1px;
  margin-left: 10px;
  font-size: 14px;
  border: #b1b1b1 2px solid;
  color: #797979;
  border-radius: 10px;
  font-family: inherit;
}

.information select:focus {
  outline: none;
}
