.comment {
  width: 95%;
  box-sizing: border-box;
  margin-left: 5%;
  margin-top: 20px;
  padding: 10px 14px;
  background-color: #f7f7f7;
}

.comment_title {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.comment_title .icon_arrow {
  position: absolute;
  left: -40px;
  color: #969696;
}

.comment_title .username {
  font-size: 20px;
}

.comment_title .date {
  margin-left: 11px;
  font-size: 15px;
  color: #a7a7a7;
}

.comment_title .edit_btn,
.comment_title .delete_btn {
  color: #a7a7a7;
  margin-left: 5px;
  margin-bottom: -3px;
  transition: color 0.3s;
}

.comment_title .edit_btn:hover,
.comment_title .delete_btn:hover {
  cursor: pointer;
  color: #ff9f1c;
}

.comment .content {
  margin-top: 12px;
  font-size: 16px;
  line-height: 24px;
}
