.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.graphWrapper {
  width: 40%;
  height: 50%;
  background-color: #f2f2f2;
  border-radius: 2rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textWrapper {
  align-content: center;
  margin: auto;
  margin-left: 0;
  width: 50%;
}

.textWrapper h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #ff9f1c;
}

.textWrapper p {
  width: 80%;
  font-size: 1.5rem;
  line-height: 2rem;
  word-break: break-word;
}

.underline {
  background-image: linear-gradient(
    transparent calc(100% - 1.5rem),
    #ffbf69 1.5rem
  );
  background-repeat: no-repeat;
  animation: underlineAnim 2s ease-in-out;
}

@keyframes underlineAnim {
  from {
    background-size: 0% 100%;
  }
  to {
    background-size: 100% 100%;
  }
}

@media screen and (min-width: 750px) and (max-width: 1320px) {
  .graphWrapper {
    width: 60%;
    height: 40%;
  }
  .textWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }
  .textWrapper p {
    margin: 0 auto;
  }
}

@media screen and (max-width: 750px) {
  .graphWrapper {
    width: 100%;
    height: 40%;
    margin: 7rem auto 0;
  }
  .textWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -4rem 1rem 2rem;
  }
  .textWrapper h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .textWrapper p {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
