.container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
}

.graphWrapper {
  width: 30%;
  height: 60%;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 2rem;
  margin: auto;
}

.textWrapper {
  align-items: center;
  margin: auto;
  margin-left: 0;
}

.textWrapper h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.textWrapper p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.underline {
  background-image: linear-gradient(transparent calc(100% - 3px), red 3px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 1s;
}

.textWrapper:hover .underline {
  background-size: 100% 100%;
}
