.container {
  width: 100%;
  height: 300px;
  margin-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.title {
  height: 30px;
  font-size: 24px;
  font-weight: 500;
}

.review {
  cursor: pointer;
  background-color: whitesmoke;
  width: 230px;
  height: 230px;
  border-radius: 10px;
  position: relative;
}

.review_link {
  width: 230px;
  height: 230px;
  text-decoration: none;
  color: black;
}

.review_link > div {
  box-sizing: border-box;
  width: 230px;
  height: 230px;
  padding: 20px;
}

.review + .review {
  margin-left: 20px;
}

.review_date {
  font-size: 12px;
  color: #969696;
}

.restaurant_name {
  margin-top: 5px;
  font-size: 13px;
  line-height: 16px;
  color: #5c5c5c;
}

.review_text {
  margin-top: 15px;
  font-size: 15px;
  line-height: 18px;
}

.icon_delete {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: #c2c2c2;
  opacity: 0;
  transition: all 0.2s;
}

.review:hover .icon_delete {
  opacity: 1;
}

.icon_delete:hover {
  cursor: pointer;
  color: #ffbf69;
}
