.container {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 64px);
  margin-top: 64px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.login {
  background-image: url("../../../public/images/loginbg.jpg");
}

.container.register {
  background-image: url("../../../public/images/registerbg.jpg");
}

.container.reset {
  background-image: url("../../../public/images/resetbg.jpg");
}

.container .error_message {
  z-index: 100;
  position: absolute;
  top: 20%;
  padding: 6px 8px;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 18px;
  animation: error-message-show 5s;
}

@keyframes error-message-show {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
