.prevBtn,
.nextBtn {
  position: absolute;
  border: none;
  background: transparent;
  font-size: 80px;
  color: lightgray;
}

.prevBtn {
  left: 10px;
  top: 300px;
}

.nextBtn {
  left: 470px;
  top: 300px;
}

.prevBtn:hover,
.nextBtn:hover {
  color: #ff9f1c;
}

.nextBtn {
  position: absolute;
  border: none;
  background: transparent;
}

.detail_restaurantsList {
  background: transparent;
  width: 400px;
  height: 100vh;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  margin-left: 100px;
  margin-top: 30px;
}

.detail_restaurantsList::-webkit-scrollbar {
  display: none;
}

.searchForm_input {
  background-color: white;
  border-radius: 12px;
  width: 325px;
  height: 40px;
  border: none;
  padding: 10px;
  margin-left: 10px;
  box-shadow: 5px 5px 12px #e2e1e1;
}

.searchForm_input:focus {
  outline: none;
}

.searchForm_submitBtn {
  background-color: white;
  position: absolute;
  border: none;
  margin-top: 30px;
  left: 300px;
  top: -30px;
  width: 85px;
  height: 60px;
  border-radius: 12px;
  box-shadow: 5px 5px 12px -5px #e2e1e1;
  padding-right: 10px;
}
